#blog-block {
    border-top: 1px solid #FFE000;

    .hexagon-path {
        background-color: #FFE000;
        display: flex;
        clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
        -webkit-clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
    }
   

    .image-overlay {
        background-color: #FFE000;
        opacity: 60%;
        box-shadow: 0px 3px 6px;
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: #424242;
        -webkit-clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
        clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
        .image {
            background-image: url('/assets/images/Stockimages/Zorgbeurs-algemeen-2.jpeg');
            background-repeat: no-repeat;
            display: block;
            object-fit: cover;
            height: auto;
            width: 100%;
        }
    }
    
.text-block {
    margin: 30px 0 74px 45px;

    .title {
        font-family: Bebas Neue;
        font-size: 30px;
        line-height: 36px;
        color: black;
    }

    .subtitle {
        font-family: Bebas Neue;
        font-size: 16px;
        line-height: 22px;
        color: black;
    }

    .text {
        font-family: Open Sans;
        font-size: 16px;
        line-height: 24px;
        color: black;
    }
}
    
}