<!-- hero section -->
<div class="bg-shape bg-cover mt-n7" style=" background-image: url('{{ nieuwsbericht['header'].msdyncrm_blobcdnuri  }}'); background-size: cover; height: 390px;"></div>

<!-- post desctiptions -->
<div class="container my-3 nieuws-details">
    <div class="row">

        <div class="col-12 col-xl-8 mt-3">
            <h1>
                {{ nieuwsbericht.bhs_name  }}
            </h1>

            <span class="mr-2" style="font-size: 16pt; font-weight: bold;">Datum {{ nieuwsbericht.bhs_datumnieuws  }}</span>
            <br><br>
            <p [innerHTML]="nieuwsbericht.bhs_tekstnieuwsvoorcontrole | safeHtml:'html'"></p>



            <div class="d-flex">
                <div class="p-3" *ngIf="nieuwsbericht.bhs_externewebsite ">
                    <a class="btn btn-primary mr-4 h-100" href="{{nieuwsbericht.bhs_urlexternewebsite  }}" target="_blank" rel="noopener noreferrer">Externe website</a>
                </div>
            </div>



          <app-businesscard class="col-xl-4 col-12 pb-3"  [contact]="nieuwsbericht.contactpersoon"></app-businesscard>


        </div>




        <div class="col-12 col-xl-4 mx-auto">


        </div>
    </div>
</div>



