#paper-block {

    .divider {
        border-top: 1px solid #FFE000;
    }
    

    .paper-slide {

        img     {
            border-radius: 10px;
            box-shadow: 0px 3px 6px #00000029;
        }

        .paper-title  {
            color: #D19900;
        }
        
    }
}