.styled-modal {
  display: flex;
  flex-direction: row;
  background-color: white;
  position: fixed;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 2rem 2rem 2rem 2rem;
  box-shadow: 2px 2px 12px rgb(0 0 0 / 30%);
  overflow: hidden;
  height: 1024px;
  max-height: 96%;
  max-width: 86%;
  right: 3rem;
  left: 15rem;
  min-width: 800px;
  transform: translate(2%, 2%);
}

.styled-user-panel {
  display: flex;
  background-color: yellow;
  border-radius: 0 2rem 2rem 0;
  box-shadow: 10px 2px 12px rgb(0 0 0 / 30%);
  height: 100%;
  max-width: 80%;
  width: 100px;
  z-index: 1000;
  transition: 300ms;
}
.large {
  display: flex;
  width: 500px;
}

.panel-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 280px;
  overflow: hidden;
}

.styled-hamburger {
  display: flex;
  justify-content: center;
  top: 2rem;
  left: 1rem;
  position: relative;
  :hover {
    cursor: pointer;
  }
}
