<div class="container-xl">
    <div class="row">
        <div class="col-md-12">
            <div class="page-copy mt-5">
                <div class="xrm-editable-html xrm-attribute"><div class="xrm-attribute-value"><h3>Pssst, heb je het al gehoord?&nbsp;</h3>
               Wij zijn trots op onze resultaten en daar vertellen wij graag over. Zo ben je altijd op de hoogte van de laatste ontwikkelingen en kan je nieuwe ontwikkelingen doorvertellen aan geinteresseerden. Zo maken wij samen een nog innovatiever Brabant voor vandaag en morgen!&nbsp;<br>
               &nbsp;
               
               </div></div>
               </div>
            <!-- Nieuws -->
            <div class="container-xl mt-5">
                <h2 class="text-center mb-3"> Laatste nieuws </h2>
                <div class="row">
                    <app-nieuws-block class="col-sm-4" *ngFor="let Nieuws of nieuws | async" [nieuws]=Nieuws ></app-nieuws-block>
                </div>
            </div>
        </div>
    </div>
</div>
