<div class="container text-justify">
    <div class="row">
        <div class="col-12  ">
            <h2 class="mb-3 h1">Niet lullen maar poetsen</h2>
            <p class="lead font-weight-bold">Wij brengen Ondernemers, Onderwijs, Overheid en Onderzoek bij elkaar om samen te komen tot logistieke innovaties in Noord-Brabant voor vandaag en morgen.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <p class="lead">Daarbij zorgen wij voor een duurzame vernieuwing en groei van de logistiek in Noord-Brabant. Productiviteit en kwaliteit in de sector wordt geoptimaliseerd en de Brabantse economie en het sociale welzijn groeit. Wij voeren onderzoek uit in 6 vraaggestuurde thema’s: leefbare stad, data gedreven logistiek, slimme industrie, multimodaal, zorglogistiek en evenementen logistiek. Daarnaast bieden wij aantrekkelijke producten en initiëren en werken we mee in actuele projecten.</p>

            <p class="lead">LCB is een samenwerking tussen Technische Universiteit Eindhoven, Universiteit van Tilburg, Nederlandse Defensie Academie en Breda University of Applied Sciences. LCB werkt samen met regiopartners REWIN, Midpoint Brabant, Vijfsterren Logistiek en Supply Chain Platform Zuidoost-Brabant. LCB wordt financieel ondersteund door de provincie Noord-Brabant en de gemeente Breda.</p>

            <p class="lead">LCB houdt kantoor op de Innovation Square van Breda University of Applied Sciences. Een creatieve locatie waar studenten, docenten en lectoren, nieuwe kansen verkennen, ondernemen en samenwerking zoeken. Internationaal, maar ook in de regio.</p>
            <a class="btn btn-primary btn-sm mt-2 mb-4" href="mailto:info@lcb.nu" title="Stuur ons een e-mail">Neem contact met ons op</a>

        </div>
    </div>
</div>
<!-- new end -->

<div class="container-fluid bg-light">
    <div class="container pt-6 pb-6">

        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-12 pt-4">
                <div class="embed-responsive embed-responsive-16by9 shadow">
                    <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" class="rounded embed-responsive-item" frameborder="0" src="https://www.youtube.com/embed/mG7NWUmmyvo"></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 pt-md-4 pt-4">
                <div class="embed-responsive embed-responsive-16by9 shadow">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/fbUtXqM4WKQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" class="rounded embed-responsive-item" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- raad van bestuur -->
<div class="container-fluid bg-light">
    <div class="container pt-6 pb-6">
        <!-- start of card -->
        <div class="row ">
            <div class="col-lg-12 col-md-12 col-12">
                <h3 class="mb-4">Bestuur en Raad van Advies</h3>
                <!--Begin card -->
                <div class="card rounded-lg mb-4 ">
                    <!-- card header -->

                    <!-- end card header -->

                    <!-- begin card body -->
                    <div class="card-body p-4">


                      <!-- Accordion -->
                      <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
                        <ngb-panel >
                          <ng-template ngbPanelTitle>
                            <span class="h5 mb-0 ">Bestuur</span>
                          </ng-template>
                          <ng-template ngbPanelContent>
                            <div class="card-body">
                              <div class="mb-3">
                                <table class="table table-bordered">
                                  <tbody>
                                  <tr>
                                    <td>N.G.M. (Nico) van Os</td>
                                    <td>Lid College van Bestuur</td>
                                  </tr>
                                  <tr>
                                    <td>E. (Eric) van der Geer-Rutten – Rijswijk</td>
                                    <td>Managing Director Industrial Engineering &amp; Innovation Sciences (IE&amp;IS), Eindhoven University of Technology</td>
                                  </tr>
                                  <tr>
                                    <td>M.(Michelle) Arets</td>
                                    <td>faculteitsdirecteur TiSEM</td>
                                  </tr>
                                  <tr>
                                    <td>P.M.A.G.M. (Peter) Gielen </td>
                                    <td>Chef-staf/plaatsvervangend commandant NLDA</td>
                                  </tr>
                                  <tr>
                                    <td>J.D.A. (Jack) Zagers</td>
                                    <td>C.I.P.M. directeur eigenaar Otentic Logistics</td>
                                  </tr>
                                  <tr>
                                    <td>C. (Caspar) Lievaart</td>
                                    <td>Directeur Jan de Rijk Benelux Transport</td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                          <ng-template ngbPanelTitle>
                            <span class="h5 mb-0 ">Raad van advies</span>
                          </ng-template>
                          <ng-template ngbPanelContent>
                            <div class="card-body">
                              <table class="table table-bordered">
                                <tbody>
                                <tr>
                                  <td>A.W. (Albert) Veenstra  </td>
                                  <td>Scientific Director</td>
                                </tr>
                                <tr>
                                  <td>T. (Tom) van Woensel</td>
                                  <td>Director of Education Industrial Engineering &amp; Innovation Sciences (IE&amp;IS), Eindhoven University of Technology</td>
                                </tr>
                                <tr>
                                  <td>D.E.V (Debbie) Dermout</td>
                                  <td>Academie directeur ABEL</td>
                                </tr>
                                <tr>
                                  <td>P.C. (Paul) van Fenema </td>
                                  <td>Professor of Military Logistics &amp; Information Management</td>
                                </tr>
                                <tr>
                                  <td>N.J. (Nick) Weijers</td>
                                  <td>Sr. Project Manager Distribution Excellence, Integral Supply Chain Philips Health Systems</td>
                                </tr>
                                <tr>
                                  <td>L.J.H. (Robert) van Wezel</td>
                                  <td>Algemeen Directeur De Graaf Logistics</td>
                                </tr>
                                <tr>
                                  <td>C.J.A. (Karel) de Jong</td>
                                  <td>Directeur Supply Chain, Jumbo Supermarkten</td>
                                </tr>
                                <tr>
                                  <td>J.A.J. (Jack) Heijkans</td>
                                  <td>Vice President EMEA Ingram Micro CLS</td>
                                </tr>
                                <tr>
                                  <td>M.J.E (Maarten) Meewis</td>
                                  <td>Bestuursadviseur BUas/Secretaris bestuur LCB</td>
                                </tr>

                                </tbody>
                              </table>
                            </div>
                          </ng-template>
                        </ngb-panel>
                      </ngb-accordion>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

