<section id="new-reads">
    <div class="row justify-content-between">
        <div class="col-12 col-sm-12 col-lg-4">
            <h1>New Reads</h1>
            <h3 class="subtitle">Climate partnerschips</h3>
            <p class="lead mb-6">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley. 
        </div>
        <div class="col-12 col-lg-7 align-self-end">
            <swiper
      [config]="this.config"
      (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()"
    >
      <ng-template swiperSlide class="img-slide">
        <img class="w-100" src="assets/images/Stockimages/Climate-Partnerships_WEB-komprimeret10241024_1.png" alt="">
      </ng-template>

      <ng-template swiperSlide class="img-slide">
        <img class="w-100" src="assets/images/Stockimages/spotlight-group2.jpg" alt="">
      </ng-template>

      <ng-template swiperSlide class="img-slide">
        <img class="w-100" src="assets/images/Stockimages/ILPGGZLNjGtl5ogOJ_ko2UxoupI-fFG55neZWquSZ64.jpg" alt="">
      </ng-template>

      <ng-template swiperSlide class="img-slide">
        <img class="w-100" src="assets/images/Stockimages/Climate-Partnerships_WEB-komprimeret10241024_1.png" alt="">
      </ng-template>

      
    </swiper>
        </div>

         <div class="col-12">
            <div class="divider-big bg-primary"></div>
        </div>
    </div>
</section>
