/* You can add global styles to this file, and also import other style files */
:root {
--primary: #FFCB17;
--secondary: #04A3E0;
--success:  #B8D433;
--info: #1EBEBE;
--warning: #F6BD30;
--danger: #EE1B3A;
--dark: black;

--multimodaal: #00a0dd;
--zorg: #c1d101;
--events: #7373b4;
--datagedreven: #009a96;
--smartindustry: #e4022c;
--leefbarestad: #f6a016;
}
// Add theme bootstrap styling
@import './assets/scss/theme';


// Set the full page height so we can stick the footer to the bottom
html,
body {
  height: 100%;
}
