
<header>
    <div class="header-container">
        <!-- <div class="row search">
            <div class="col-6 input">
            
            </div>
    
            <div class="col-1">
                scroll
            </div>
    
            <div class="col-3">
                <a class="search-button" href="">
                    <i class="fas fa-search"></i>
                </a>
            </div>
        </div>  -->
    </div>
</header>


<div class="content-page">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-2 col-lg-2">
                <app-filter-panel></app-filter-panel>
            </div>

            <div class="col-12 col-sm-12 col-lg-10">
                <div class="notepad-container container mb-4">
                    <div class="row">
                        <div class="col-11">

                            <div class="row search justify-content-start w-100 mt-4">
                                <div class="col-7 input">
                                
                                </div>
                        
                                <!-- <div class="col-1">
                                    scroll
                                </div> -->
                        
                                <div class="col-5">
                                    <a class="search-button bg-secondary" href="">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </div>
                            </div> 
                            

                            <section id="breadcrumbs">
                                <ul>
                                    <li>Thema</li>
                                    <li class="icon">Zorg</li>
                                </ul>
                            </section>

                            <app-new-reads></app-new-reads>
                        
                           
                            <div class="row">
                                <div class="col-2">
                                    <h2 class="subtitle rotate">Zorg voor anderen</h2>
                                </div>

                                <div class="col-10">

                                    <app-video-slider></app-video-slider>
                                    

                                    <app-whitepaper-slider></app-whitepaper-slider>
                                    

                                    <app-event></app-event>
                                    

                                    <app-blog></app-blog>
                                    


                                </div>
                            </div>

                                


                            
                        </div>

                        


                        <div class="col-1 bg-primary side-menu">
                            <div class="avatar">
                                <img class="avatar-img" src="lcb-front-end/Portal/src/assets/images/Stockimages/157765614-profile-picture-of-smiling-indian-female-isolated-on-grey-studio-background-show-optimism-and-positi.jpg" alt="avatar">
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-filter-panel></app-filter-panel>

