
<!-- footer -->
<div class="footer pt-5 pt-sm-6 pt-md-7 pt-lg-9 pt-xl-11 pb-3 bg-dark text-white">
  <div class="container-xl">
    <div class="row">

      <div class="col-12 col-md-4">
        <div class="mb-4">
          <h4 class="mb-2 mb-md-4 text-white">Adres</h4>
          <ul class="list-unstyled list-group">
            <li class="list-group-item">Logistics Community Brabant</li>
            <li class="list-group-item">BUas campus - Frontier gebouw</li>
            <li class="list-group-item">Mgr. Hopmansstraat 2</li>
            <li class="list-group-item">4817 JS Breda</li>
            <li class="list-group-item"><a href="https://www.google.nl/maps/place/Logistics+Community+Brabant/@51.5898155,4.7930793,18z/data=!3m1!4b1!4m5!3m4!1s0x47c69f7ff74fffff:0x9f1dd07c5f8ffed!8m2!3d51.5898155!4d4.7941736" title="Route naar Logistics Community Brabant" target="_blank">Route</a></li>
          </ul>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="mb-4">
          <h4 class="mb-2 mb-md-4 text-white">Contact</h4>
          <ul class="list-unstyled list-group">
            <li class="list-group-item"><a href="mailto:info@lcb.nu">info@lcb.nu</a></li>
            <li class="list-group-item"><a href="tel:+31765332645">Tel: +31(0)76-5332645</a></li>
            <li class="list-group-item"><a href="https://lcb.nu">www.lcb.nu</a></li>
          </ul>
        </div>
      </div>


      <div class="col-12 col-md-4">
        <div class="mb-4">
          <h4 class="mb-2 mb-md-4 text-white ">Lid worden</h4>
          <ul class="list-unstyled list-group ">
            <li class="list-group-item"><a href="/lid-worden/freemium-lidmaatschap/">Freemium</a></li>
            <li class="list-group-item"><a href="/lid-worden/premium-lidmaatschap/">Premium</a></li>
            <li class="list-group-item"><a href="/lid-worden/educational-lidmaatschap/">Educational</a></li>
          </ul>
        </div>
      </div>


      <div class="col-md-12">
        <div class="mt-8">
          <ul class="list-inline">
            <li class="list-inline-item">© 2022 LCB - Alle rechten voorbehouden</li>
            <li class="list-inline-item"><a href="/privacy" class="text-reset">Privacyverklaring</a></li>
            <!-- <li class="list-inline-item"><a href="#" class="text-reset"> Terms</a></li> -->
          </ul>
        </div>
      </div>


    </div>
  </div>
</div>









